.form-group-1 label,
p {
    font-weight: bold;
    min-width: 180px;
}

.form-group-1 {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.reset-btn {
    background: rgb(225, 97, 97) !important;
}

.copy-btn,
.reset-btn {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ac770c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 300ms;
}

.copy-btn:hover {
    background-color: #EFB036;
}

.box-form-1 {
    scale: 0.9;
    padding: 10px;
    border: 1px solid #EFB036;
    border-radius: 10px;
    /* background: #212121; */
    /* color: #fff; */
    background: #fff;
    color: #000;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box-form-1 .input-ia {
    width: 100%;
}

.box-form-1 h2 {
    text-align: center;
}

.box-form-1 .input-ia,
select {
    color: #000;
    /* color: white; */
    border: 2px solid #EFB036;
    border-radius: 10px;
    padding: 10px 15px;
    background: transparent;
    max-width: 90%;
    outline: violet;
}

.box-form-1 select option {
    color: #000;
}

.input-date {
    width: 150px !important;
}

/* sug */
.suggestions {
    margin: 5px 0 15px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.suggestion-item {
    padding: 8px 12px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.suggestion-item:hover {
    background-color: #f1dbb1;
}

li {
    list-style: none;
}

.static-input {
    cursor: not-allowed;
    /* Không cho phép hightlight */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #f0e404 !important;
    width: 25% !important;
    font-weight: bold;
    color: #292929 !important;
}

.box-law {
    padding: 15px;
    border: 1px solid #EFB036;
    border-radius: 10px;
}

.box-law table tr {
    cursor: pointer;
}

.nvqs-check:hover {
    background: #ffac05;
}

.selected {
    background-color: #EFB036 !important;
}

.copy_frame {
    border: 1px solid red;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}